OPENROUTER_API_KEY=sk-or-v1-
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=qwen/qwen3.5-flash-02-23
LANCEDB_PATH=.lancedb
LANCEDB_TABLE=skills
OPENROUTER_EMBEDDING_MODEL=openai/text-embedding-3-small
ROUTER_THRESHOLD=0.45
PORT=3001
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"